* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
  }


  li:hover{
    text-decoration: underline solid 2.5px black;
  }


/*///////////////////////////////////////////////////////////////////////////*/

body{
  font-family: 'Press Start 2P', cursive;
  font-size: small;
  background-image: url("imagenes/background3.png");
  background-size: cover;
}

.juego{
  display: flex;
  flex-direction: column;
}

h1{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-weight: bold;
  color: #ffffff;
  
}

h3{
  display: flex;
  justify-content: center;
  margin: 5%;
  color: #ffffff;
  
  
}

.rankingHistorial{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  color: rgb(255, 255, 255);  
}

.vidas{
  display: flex;
  justify-content: center;
}

.numeroAleatorio{
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 192px;
  margin: 2rem;
  color: #ffffff;
  
  
}

.botones{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

button{
  color: white;
}

.btn{
  margin: 1rem;
}

.btn:hover{
  border: solid black;
}

.foot{
  padding: 1rem;
  text-align: center;
}

/*///////////////////////////////////////////////////////////////////////////*/


